{
  // https://console.developers.google.com/apis/credentials => Create Credentials => OAuth client ID
  "oauth_client_id": "<oauth_client_id>",
  "oauth_client_secret": "<oauth_client_secret>",
  "oauth_refresh_token": "<oauth_refresh_token>",
  "oauth_redirect_uri": "<oauth_redirect_uri>",

  // https://calendar.google.com/calendar/r/settings/createcalendar => Create calendar
  // https://calendar.google.com => My calendars => Options for specific calendar => Settings and sharing => "Calendar ID"
  "calendar_id": "<calendar_id>",

  // https://myaccount.google.com/apppasswords
  "gmail_account": "<gmail_account>",
  "gmail_password": "<gmail_password>"
}
