{
  // https://console.firebase.google.com/ => Add project
  // select project => Add app
  // select project => App => Settings => copy "firebaseConfig" object from General section
  apiKey: "<apiKey>",
  authDomain: "<authDomain>",
  databaseURL: "<databaseURL>",
  projectId: "<projectId>",
  storageBucket: "<storageBucket>",
  messagingSenderId: "<messagingSenderId>",
  appId: "<appId>"
}